/*==================font===========================*/
@font-face{
    
    font-family: Catamaran;
    src: url("../fonts/Catamaran-VariableFont_wght.ttf");
   
}
@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Black.ttf");
}
/*@font-face{
    font-family: Roboto Slab;
    src: url("../fonts/");
}
@font-face{
    font-family: Monserrat;
    src: url("assets/fonts/"); 
}*/
/* default */
*{
    padding: 0;
    margin: 0;
}

/* BODY */
body{
    overflow-x: hidden;
}

ul li{
    list-style: none;

}
a{
    text-decoration: none;
}
/*p {
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3, h4, h5 {
    font-family: 'Roboto Slab';
}

strong {
    font-family: "Montserrat", sans-serif;
}*/
/* End Default */

/* ==================================Exemple=================================================== */
/* .glass-box{
    position: relative;
    background: rgba(128, 128, 128, 0.3);
    opacity: 45%;
    border-radius: 15px;
    padding: 30px;
    width: 200px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;    
}
.glass-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
    filter: blur(100px);
    z-index: 0;
}
h2, p{
    position: relative;
    z-index: 1;

} */



/* background-color: #d8d8d8; */


/*=================Menu=====================*/
.header{
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    /*background: rgba(128, 128, 128, 0.2);*/
     background: rgba(255, 255, 255, 0.4); 
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    backdrop-filter: blur(10px);
    opacity: 45%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


nav.nav{
    padding-top: 10px;
}


.nav ul{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    z-index: 1;
}

.nav__link a {
    /*font-family: Poppins;*/
    color: #000000;
    font-size: 20px;
}
.nav__link :hover {
    color: red;
    padding: 20px; 
    background: rgba(255,255,255, 0.5);
    transition: all 0.2s ease-in-out;
}


/* ===================Home=====================*/
.home{
   /* height: 90vh;*/
 /*   display: flex;
    place-items: center;*/
}
.home__container {
    border-radius: 25px;
    background: linear-gradient(-40deg, #35c2fd, #f1810f);
}
.home__text{
    line-height: normal;
    padding-top: 5rem !important;
}
.home__text__container{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: rgba(255,255,255,0.9);
    opacity: 0.7;
    backdrop-filter: blur(6px);
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.1);
}


.home__text__presentation{
    font-size: 30px;
    font-weight: 200;
}
.home__text__name{
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
   
}
.home__text__preview{
    font-size: 53px;
    font-weight: 800;
}
/*.dev{
    position: relative;
    top: 14px;
    left: 14px;
}
*/


.home__img__rova{
    max-width: 85%;
   /* object-fit: cover;
    object-position: center;*/
    box-shadow: 18px 20px 30px 16px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* ===================About=====================*/
.about,.about__section2{
    height: 100vh;
    background: #f3f3f3;
}
/* 

@media (min-width: 1200px) and (max-width: 1400px) {

}
@media (min-width: 992px) and (max-width: 1200px) {



}

@media (min-width: 768px) and (max-width: 992px) {
/*    .home .container .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }*/
    /* .home__text__presentation{
        font-size: 15px;
    }
    .home__text__name{
        font-size: 30px;
    }
    .home__text__preview{
        font-size: 40px;
    }

} */

/* Menu responsive */
@media (max-width: 1187px) { 
    .header {
        display: flex;
        flex-direction: column;
    }
    .header__heading {
        text-align: center;
        margin-bottom: 30px;
        font-size: 35px;
        color: #000 !important;
        opacity: 1 !important;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home {
        margin-top: 30px;
    }
 }